language: python
matrix:
  include:
    - python: 3.6
      sudo: true
      dist: xenial
    - python: 3.7
      sudo: true
      dist: xenial
install:
  - pip install -r requirements.txt . coveralls qtt
script:
  - coverage run --source="./src/qilib" -m unittest discover -s src/tests -t src -v
after_success:
  - coveralls
