language: python
matrix:
  include:
  - python: 3.6
    sudo: true
    dist: xenial
  - python: 3.7
    sudo: true
    dist: xenial
  - os: windows
    language: sh
    before_install:
      - git clone https://github.com/pyenv-win/pyenv-win.git $HOME/.pyenv
      - export PATH="$HOME/.pyenv/pyenv-win/bin:$HOME/.pyenv/pyenv-win/shims:$PATH"
      - pyenv install -q 3.7.1
      - pyenv global 3.7.1
      - pyenv rehash
      - python --version
install:
- pip install .[dev] coveralls
script:
- echo "running unit tests"
- coverage run --source="./src/qilib" -m unittest discover -s src/tests -t src -v
after_success:
- coveralls
deploy:
  provider: pypi
  user: qinspire
  password:
    secure: PLy7EdT1a3rrCC2n37RFk0vNxTqk0hU1fJDEvw+auvT1L5o4i0S7qxZwMuXxQe8tlGRZe5mqTs3Ogg4hpx1mHA4CtGyZntHkE9w7Y+1psDYhD+7/ZFmF7dHJqMbF2kmmgSdYAE99dYpPczz/VwQwYswu5Xb2V8291pbTbz2ABjuISQZBaNgTFYCmNHH9BkoED6otm5CEk+ax/ytnBxHKgKqiGfaycliCZb1u0xr3iJ00GFKstb2x+Mg6K/TGtbV/CrUvIkE533CtqI/JOBlwp5ZNCL3KccxEx/Bm///xoT6xsZ5j0qZFXKaYc8X2zOuwe6ewYw1kNApSAdGa0SLYPxPrXzKug+7dOxZ9cyK7ZnEHj63Top1TX5mUv12Z5iQaFWAJR81SwAdJ4eMzQR8p8AT4qnsJ8EKlAHP1b7AB+QMSU++6W9M+s9SjIjs3z1HWgvSChnKf2C9XKZRrhwtESBT53Ng4QqPlt24kSpZ8OteZeRy+EP+/C5ktP8BJEf70v6doSh4cDLYfgPwsX2qm/6LnVS1HG/bWIkQCBBQ+omanm0VaaNFgzkmFkqbUmPWZXro6smRtcCdaqOBiE8yEB2MaAxzH42V2fLWnaTLhVx6GJYMNeGogCkkmpkLlNHl309gwp+i+lAfzwYBCxq15gzkucJ8F8DFWq8/2P9BSAnI=
  on:
    tags: true
    branch: master
  skip_existing: true
